html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.App-header {
  margin: 5px;
  height: 40px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.App-header-title {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: grey;
}

.App-body {
  display: flex;
  margin: 5px;
  align-items: flex-start;
}

.App-friends {
  width: 300px;
  flex-shrink: 0;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding-bottom: -5px;
}

.App-tweets {
  flex-grow: 1;
  /* flex-direction: row; */
}

.App-user-profile {
  padding: 10px;
  height: 300px;
  position: relative;
}

.App-user-profile-image {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 200px;
  left: 100px;
  border-radius: 50%;
}

.App-backgroud-image {
  height: 300px;
  width: 100%;
}

.App-tweet {
  margin-top: 35px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.App-tweet-display {
  margin-left: 20px;
  margin-right: 20px;
}

.App-tweet-time {
  display: flex;
  justify-content: flex-end;
}

.App-friend {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: flex-start;
}

.App-friend:hover {
  background-color: gainsboro;
  cursor: pointer;
}

.App-profile {
  margin-right: 10px;
}

.App-img {
  border-radius: 50%;
}

.App-profile-screenName {
  font-size: 14px;
  color: #888888;
}