html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-body {
  flex-grow: 1;
  display: flex;
}

.App-friends {
  width: 350px;
  background-color: rgb(223, 223, 94);
  flex-shrink: 0;
}

.App-tweets {
  flex-grow: 1;
  flex-direction: row;
}

.App-user-profile {
  padding: 10px;
  height: 300px;
}

.App-backgroud-image {
  height: 300px;
  width: 100%;
}

.App-tweet {
  margin-top: 35px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}

.App-tweet-display {
  margin-left: 20px;
  margin-right: 20px;
}

.App-tweet-time {
  display: flex;
  justify-content: flex-end;
}

.App-friend {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
}

.App-profile {
  margin-left: 10px;
  margin-right: 20px;
}

.App-img {
  border-radius: 50%;
}